body {
    background-color: green;
}

.portfolio-table {
    width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    background-color: lightgreen;
    text-align: center;
}

thead th {
    padding: 20px;
    font-size: 24px;
}

.image-cell img {
    width: 200px;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid blue;
}

.info-cell {
    vertical-align: middle;
    padding: 20px;
}

.info-cell ul {
    list-style: none;
    padding: 0;
}

.info-cell ul li {
    margin: 5px 0;
}

.info-cell ul li a {
    color: purple;
    text-decoration: none;
}

.info-cell ul li a:hover {
    text-decoration: underline;
}

.footer {
    background-color: lightgreen;
    color: white;
    font-size: 18px;
    padding: 10px;
}
h1 {
    color: white;
    font-size: 1.5em;
}
td {
    border-collapse: collapse;
    border-color: black;
    border-width: 1px;
    border-style: solid;
} 